@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-hz-surface-soft text-hz-text font-sans;
  }
}

@layer components {
  .btn-primary {
    @apply inline-flex justify-center items-center rounded-md bg-hz-primary px-6 py-3 
    text-sm font-medium text-black/70 shadow-md hover:bg-hz-accent hover:text-hz-surface;
  }
}
/*
  .btn-secondary {
    @apply inline-flex items-center justify-center rounded-md px-4 py-2 text-sm font-medium
           border border-hz-border bg-white text-hz-text
           hover:bg-hz-primary-soft
           transition-colors;
  }

  .card {
    @apply relative rounded-xl border border-hz-border bg-hz-surface shadow-hz-card;
  }

  .card-hover-glow::before {
    content: "";
    @apply absolute inset-0 rounded-xl bg-sky-300/30 blur-2xl opacity-0 transition-opacity duration-300;
  }

  .card-hover-glow:hover::before {
    @apply opacity-70;
  }
} */
